<!DOCTYPE html>
<html>
 <% include header %>
<head>
  <title>Ayuda</title>
  <link rel="icon" type="image/x-icon" href="/assets/images/logo.png">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
a {font-size: 16px;
  color: #8a898b44;
}
.bg-1 { 
    background-color: #e7ece8fb; 
    color: #323634c7;
}

.well{
    background-color: #6fb188fb;
    color: #f3f5f4;
}

.b-1{
  background-image: url("https://github.com/ddbelen/ImagenesCulturApp/blob/main/Madrid.jpg?raw=true.png");
            /* Full height */
            height: 100%;
            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            color: #ffffff;
            font: 18px Montserrat, sans-serif;
}

  </style>
</head>
<body>

<div class="container-fluid text-center b-1">    
  <h1 class="margin" font= "Montserrat"><dt> ¿En qué podemos ayudarte?</dt></h1>


  <div class="row">

    <div class="col-sm-1">
      </div>

    <div class="col-sm-2">
      <img src="ask.png" class="img-responsive" style="width:35%" alt="Image">
      <p style="color:#e7ece8fb;">.</p>
    </div>

    <div class="col-sm-6">
      <div class="well">
       <p>Si es tu primera vez en nuestra página web, o tienes dudas acerca de la plataforma,</p><p> ¡No dudes en leer nuestro FAQ!</p>
      </div>
    </div>

    <div class="col-sm-1">
    </div>

    <div class="col-sm-2">
      <img src="ask.png" class="img-responsive" style="width:35%" alt="Image">
      <p style="color:#e7ece8fb;">.</p>
    </div>


    

  </div>
</div>

  
<div class="container-fluid bg-1">
    <h2>Preguntas frecuentes de nuestros usuarios</h2>
    <div class="panel-group" id="accordion">


        <p style="color:#e7ece8fb;">.</p>
        <h4>&nbsp;I n i c i o &nbsp; &nbsp; d e &nbsp; &nbsp;  S e s i ó n </h4>
        <p style="color:#e7ece8fb;">.</p>

        <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" class="a"><dt>¿Cómo puedo iniciar sesión?</dt></a>
              </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
              <div class="panel-body" class="a">Siempre al abrir nuestra aplicación. Siempre que quieras comenzar a navegar por CulturApp se te solicitará iniciar sesión o en su defecto, registrarse. ¡Así mantenemos la seguridad de nuestra comunidad!</div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" class="a"><dt>¿Puedo desuscribirme de la plataforma?</dt></a>
              </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse in">
              <div class="panel-body" class="a">Sí. En cualquier momento, dentro de tu perfil encontrarás el botón Log Out con el que podrás borrar tu usuario de nuestra aplicación. </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse3" class="a"><dt>¿Puedo cerrar sesión?</dt></a>
              </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse in">
              <div class="panel-body" class="a">Sí. En cualquier momento, dentro de tu perfil encontrarás el botón Log Out y podrás salir de CulturApp para volver a entrar cuando quieras.   </div>
            </div>
          </div>


    <p style="color:#e7ece8fb;">.</p>
    <h4>&nbsp; B ú s q u e d a </h4>
    <p style="color:#e7ece8fb;">.</p>

    <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse4" class="a"><dt>¿Puedo hacer una búsqueda más rápida?</dt></a>
          </h4>
        </div>
        <div id="collapse4" class="panel-collapse collapse in">
          <div class="panel-body" class="a">¡Por supuesto! En la pantalla principal encontrarás una barra de navegación donde podrás buscar los lugares de tu interés.</div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse5" class="a"><dt>¿Los lugares que se pueden encontrar en la plataforma son todos los lugares de interés cultural de la Comunidad de Madrid?</dt></a>
          </h4>
        </div>
        <div id="collapse5" class="panel-collapse collapse in">
          <div class="panel-body" class="a">Los datos recogidos por CulturApp son los ofrecidos por la Comunidad de Madrid. Todo aquel establecimiento que se encuentre regitrado en la Comunidad de Madrid será visible en CulturApp.</div>
        </div>
      </div>

          
    <p style="color:#e7ece8fb;">.</p>
    <h4>&nbsp; C o m e n t a r i o s</h4>
    <p style="color:#e7ece8fb;">.</p>
  

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse6" class="a"><dt>¿Cómo puedo valorar un lugar que he visitado?</dt></a>
          </h4>
        </div>
        <div id="collapse6" class="panel-collapse collapse in">
          <div class="panel-body" class="a">¡Es muy fácil! Simplemente tienes que seleccionar el lugar en nuestro mapa de la página principal y al hacer clik aparecerá un pop-up donde, a parte de ofrecer toda la información a cerca del lugar, tendrás la opción de valorar y comentar.</div>
        </div>
      </div>


      <p style="color:#e7ece8fb;">.</p>
      <h4>&nbsp; F a v o r i t o s</h4>
      <p style="color:#e7ece8fb;">.</p>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse8" class="a"><dt>¿Cómo puedo añadir a favoritos un lugar?</dt></a>
          </h4>
        </div>
        <div id="collapse8" class="panel-collapse collapse in">
          <div class="panel-body" class="a">¡Es muy fácil! Simplemente tienes que seleccionar el lugar en nuestro mapa de la página principal y al hacer clik aparecerá un pop-up donde, a parte de ofrecer toda la información a cerca del lugar, tendrás la opción de añadir a favoritos y comentar.</div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse9" class="a"><dt>¿Dónde puedo encontrar mis favoritos?</dt></a>
          </h4>
        </div>
        <div id="collapse9" class="panel-collapse collapse in">
          <div class="panel-body" class="a">Todos tus favoritos se encuentran en la sección de favoritos de tu perfil. Lo podrás encontrar pinchando en "Favoritos <span class="glyphicon">&#xe005;</span> " en la cabecera de la plataforma.</div>
        </div>
      </div>


      <p style="color:#e7ece8fb;">.</p>
      <h4>&nbsp; P r i v a c i d a d </h4>
      <p style="color:#e7ece8fb;">.</p>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse10"><dt>¿Quién puede ver mi información?</dt></a>
          </h4>
        </div>
        <div id="collapse10" class="panel-collapse collapse">
          <div class="panel-body">Nos preocupamos mucho por tu seguridad y por eso toda tu información personal será vista solamente por ti.</div>
        </div>
      </div>

      <p style="color:#e7ece8fb;">.</p>
      <h4>&nbsp; F u n c i o n a m i e n t o</h4>
      <p style="color:#e7ece8fb;">.</p>      

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse12" class="a"><dt>¿Por qué no puedo conocer lugares culturales fuera de la Comunidad de Madrid?</dt></a>
          </h4>
        </div>
        <div id="collapse12" class="panel-collapse collapse in">
          <div class="panel-body" class="a">CulturApp está enfocada para promoveer y conocer los lugares culturales y de ocio de la Comunidad de Madrid. ¿Te gustaría que CulturApp se abriese a toda España? ¡Déjanoslo saber!</div>
        </div>
      </div>




    </div> 
  </div>

</body>
<% include footer %>
</html>
